[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
django-bootstrap4 = "*"

[requires]
python_version = "3.9"

[dev-packages]
black = "*"

[pipenv]
allow_prereleases = true
